@using frontend.Shared
@inject AuthState Auth

@if (Auth.IsLoggedIn)
{
    <span>Hello, @Auth.UserId!</span>
    <a href="/authentication" style="margin-left:0.5rem;">(Manage)</a>
}
else
{
    <a href="/authentication">Log in</a>
}
