<nav class="nav flex-column">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        Home
    </NavLink>

    <NavLink class="nav-link" href="marketdata">
        Markets
    </NavLink>

    <NavLink class="nav-link" href="authentication">
        Login
    </NavLink>
</nav>
