<nav class="navbar-nav">
    <NavLink href="" class="nav-link" Match="NavLinkMatch.All">Trading</NavLink>
    <NavLink href="marketdata" class="nav-link">Markets</NavLink>
    <NavLink href="alerts" class="nav-link">Alerts</NavLink>   
    <NavLink href="learn" class="nav-link">Learn</NavLink>
    <NavLink href="about" class="nav-link">About</NavLink>
</nav>